.container textarea {
	width: 335px;
	height: 135px;

	border-radius: 10px;
	border: 2px solid rgb(128, 128, 128, 0.5);
	box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.2);

	padding: 15px;

	outline: 1px solid rgb(128, 128, 128, 0.9);

	font-size: 20px;
	font-weight: 500;
}

.container textarea::placeholder {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: 500;
}

.container textarea:focus {
	outline-offset: 2px;
}

.container {
	margin: 0 50px;
	max-width: 368px;
}

.container h3 {
	font-weight: 500;
	font-size: 24px;
}
